USE [master]
GO
/****** Object:  Database [DeMoQLSV]    Script Date: 12/18/2014 03:40:15 ******/
CREATE DATABASE [DeMoQLSV] ON  PRIMARY 
( NAME = N'DeMoQLSV', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DeMoQLSV.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DeMoQLSV_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\DeMoQLSV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DeMoQLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DeMoQLSV]
GO
/****** Object:  Table [dbo].[tbl_LOP]    Script Date: 12/18/2014 03:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LOP](
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[SoSV] [int] NULL,
	[MaNghanh] [nchar](10) NULL,
	[KhoaHoc] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_7D78A4E7] ON [dbo].[tbl_LOP]([TenLop]) WITH STATS_STREAM = 0x0100000001000000000000000000000082B9754E00000000F702000000000000B702000000000000E7030000E7000000640000000000000008D00034000000000700000045E12200FCA30000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000060410000A0400000000000006041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000B40000000000000043010000000000004B01000000000000200000000000000053000000000000006C000000000000009300000000000000300010000000803F000000000000803F0400000100330031003100310031003100310031003100310031003100310031003100300010000000803F000000000000803F040000010019006200300010000000803F000000000000803F04000001002700440036005F0043004E00540054003100300010000000803F0000803F0000803F04000001002100640038005F0044004C00FF010000000000000005000000050000002800000028000000000000000000000021000000310031003100310031003100310031003100310031003100310031006200440036005F0043004E0054005400310037005F004B0054003100350038005F0044004C00070000004000000000810E00000081010E000040010F00008107100000810617000001041D0000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_7D78A4E7] ON [dbo].[tbl_LOP]([SoSV]) WITH STATS_STREAM = 0x0100000001000000000000000000000041F0AE9C00000000A4010000000000006401000000000000380200003800000004000A0000000000000000000031003107000000EB8F370005A4000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000A0400000A0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_7D78A4E7] ON [dbo].[tbl_LOP]([MaNghanh]) WITH STATS_STREAM = 0x01000000010000000000000000000000DEA0DB5000000000DB010000000000009B01000000000000EF02803FEF000000140000000000000008D000340000000007000000EB8F370005A4000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000024000000000000000000A0400000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000500000005000000010000002800000028000000000000000000000000000000010000000000000000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_7D78A4E7] ON [dbo].[tbl_LOP]([KhoaHoc]) WITH STATS_STREAM = 0x01000000010000000000000000000000DEA0DB5000000000DB010000000000009B01000000000000EF02803FEF000000140000000000000008D000340000000007000000EB8F370005A4000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000024000000000000000000A0400000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000500000005000000010000002800000028000000000000000000000000000000010000000000000000000500000000000000
GO
UPDATE STATISTICS [dbo].[tbl_LOP]([PK_tbl_LOP]) WITH STATS_STREAM = 0x010000000100000000000000000000009B3938E5000000004B030000000000000B03000000000000EF030000EF000000140000000000000008D000340005000007000000DF56C300D6A300000500000000000000050000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000240000000000A0410000A040000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000EB0000000000000097010000000000009F0100000000000028000000000000004F0000000000000076000000000000009D00000000000000C400000000000000100024000000803F000000000000803F3100320033003100310033003200330020002000040000100024000000803F000000000000803F6100610061006100610061006100610061002000040000100024000000803F000000000000803F43004E0054005400310020002000200020002000040000100024000000803F000000000000803F44004C0020002000200020002000200020002000040000100024000000803F000000000000803F4B00540031002000200020002000200020002000040000FF0100000000000000050000000500000028000000280000000000000000000000320000003100320033003100310033003200330020002000610061006100610061006100610061006100200043004E005400540031002000200020002000200044004C00200020002000200020002000200020004B00540031002000200020002000200020002000060000004000000000810A000000810A0A0000810A140000810A1E0000010A280000000500000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
INSERT [dbo].[tbl_LOP] ([MaLop], [TenLop], [SoSV], [MaNghanh], [KhoaHoc]) VALUES (N'12311323  ', N'11111111111111', 40, N'MN01      ', N'2012-2014 ')
INSERT [dbo].[tbl_LOP] ([MaLop], [TenLop], [SoSV], [MaNghanh], [KhoaHoc]) VALUES (N'aaaaaaaaa ', N'b', 50, N'MN02      ', N'2012-2014 ')
INSERT [dbo].[tbl_LOP] ([MaLop], [TenLop], [SoSV], [MaNghanh], [KhoaHoc]) VALUES (N'CNTT1     ', N'D6_CNTT1', 60, N'MN03      ', N'2012-2014 ')
/****** Object:  Table [dbo].[tbl_KHOA]    Script Date: 12/18/2014 03:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KHOA](
	[MaKhoa] [nchar](10) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_tbl_KHOA] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_1FCDBCEB] ON [dbo].[tbl_KHOA]([TenKhoa]) WITH STATS_STREAM = 0x01000000010000000000000000000000EFF4244A000000004B020000000000000B02000000000000E7030A00E7000000640000000000000008D0003400010A280700000099B5330005A4000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000000410000004000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004E0000000000000097000000000000009F0000000000000010000000000000002F00000000000000300010000000803F000000000000803F04000001001F0010016900C71E6E00300010000000803F000000000000803F04000001001F0054006F00E1006E00FF01000000000000000200000002000000280000002800000000000000000000000800000010016900C71E6E0054006F00E1006E0003000000400000000081040000000104040000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_1FCDBCEB] ON [dbo].[tbl_KHOA]([DiaChi]) WITH STATS_STREAM = 0x01000000010000000000000000000000282B8ACD000000005E020000000000001E02000000000000E7020034E7000000640000000000000008D00034020000000700000099B5330005A4000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000070410000004000000000000070410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005800000000000000AA00000000000000B20000000000000010000000000000002300000000000000100010000000803F000000000000803F040000300010000000803F000000000000803F0400000100350050006800F2006E006700200033003000310020006E006800E00020004600FF01000000000000000200000002000000280000002800000000000000000000000F00000050006800F2006E006700200033003000310020006E006800E00020004600020000004100000000010F000000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_1FCDBCEB] ON [dbo].[tbl_KHOA]([Email]) WITH STATS_STREAM = 0x0100000001000000000000000000000034C4C95E000000003702000000000000F701000000000000E702850AE7000000640000000000000008D00034000000000700000082B5330005A4000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001000000000004041000000400000803F00004041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000370000000000000083000000000000008B000000000000000800000000000000300010000000803F000000000000803F04000001002F006400690065006E0040006500640075002E0063006F006D00FF01000000010000000200000002000000280000002800000000000000000000000C0000006400690065006E0040006500640075002E0063006F006D00020000004000000000010C000000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_1FCDBCEB] ON [dbo].[tbl_KHOA]([SDT]) WITH STATS_STREAM = 0x010000000100000000000000000000001D2E622E00000000CB010000000000008B01000000000000380200003800000004000A0000000000000000007F0000000700000082B5330005A4000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001400000000000040000000400000803F000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F4CCB261A0400000200000000000000
GO
UPDATE STATISTICS [dbo].[tbl_KHOA]([PK_tbl_KHOA]) WITH STATS_STREAM = 0x01000000010000000000000000000000ACC3FE9C000000002B02000000000000EB01000000000000EF030000EF000000140000000000000008D000340000000007000000909B330005A4000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F4D004B0030003100200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000004D004B0030003100200020002000200020002000020000004000000000010A000000000100000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
INSERT [dbo].[tbl_KHOA] ([MaKhoa], [TenKhoa], [DiaChi], [Email], [SDT]) VALUES (N'MK01      ', N'Điện', N'Phòng 301 nhà F', N'dien@edu.com', 438750028)
INSERT [dbo].[tbl_KHOA] ([MaKhoa], [TenKhoa], [DiaChi], [Email], [SDT]) VALUES (N'MK02      ', N'Toán', N'Phòng 302 nhà D', N'toan@edu.com', 438750029)
INSERT [dbo].[tbl_KHOA] ([MaKhoa], [TenKhoa], [DiaChi], [Email], [SDT]) VALUES (N'MK03      ', N'Kế Toán', N'Phòng 303 nhà E', N'ketoan@edu.com', 438750027)
/****** Object:  Table [dbo].[tbl_GIANGVIEN]    Script Date: 12/18/2014 03:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_GIANGVIEN](
	[MaGV] [nchar](10) NOT NULL,
	[HoTenGV] [nvarchar](50) NOT NULL,
	[DiaChiGV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_tbl_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_7F60ED59] ON [dbo].[tbl_GIANGVIEN]([HoTenGV]) WITH STATS_STREAM = 0x01000000010000000000000000000000D92AC815000000005B020000000000001B02000000000000E703803FE7000000640000000000000008D000340000000007000000A7AF3A0005A400000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000000000400000404000000000000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000006300000000000000A700000000000000AF00000000000000180000000000000031000000000000004A00000000000000300010000000803F000000000000803F040000010019006100300010000000803F000000000000803F040000010019006200300010000000803F000000000000803F040000010019006300FF010000000000000003000000030000002800000028000000000000000000000003000000610062006300040000004000000000810100000081010100000101020000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_7F60ED59] ON [dbo].[tbl_GIANGVIEN]([DiaChiGV]) WITH STATS_STREAM = 0x01000000010000000000000000000000E49D97E600000000DB010000000000009B01000000000000E702040AE7000000640000000000000008D000340800130007000000A3AF3A0005A4000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000404000004040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000300000003000000010000002800000028000000000000000000000000000000010000000000000000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_7F60ED59] ON [dbo].[tbl_GIANGVIEN]([GioiTinh]) WITH STATS_STREAM = 0x010000000100000000000000000000004962834500000000DB010000000000009B01000000000000E702040AE7000000640000000000000008D0003408001300070000009EAF3A0005A4000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000404000004040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000300000003000000010000002800000028000000000000000000000000000000010000000000000000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_7F60ED59] ON [dbo].[tbl_GIANGVIEN]([Email]) WITH STATS_STREAM = 0x010000000100000000000000000000004962834500000000DB010000000000009B01000000000000E702040AE7000000640000000000000008D0003408001300070000009EAF3A0005A4000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000404000004040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000300000003000000010000002800000028000000000000000000000000000000010000000000000000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_7F60ED59] ON [dbo].[tbl_GIANGVIEN]([SDT]) WITH STATS_STREAM = 0x010000000100000000000000000000001D68D80F00000000A4010000000000006401000000000000380265003800000004000A000000000000000000F07F850A070000009EAF3A0005A4000003000000000000000300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000140000000000000000004040000040400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000300000000000000
GO
UPDATE STATISTICS [dbo].[tbl_GIANGVIEN]([PK_tbl_GIAOVIEN]) WITH STATS_STREAM = 0x010000000100000000000000000000006D72BBA10000000089020000000000004902000000000000EF030000EF000000140000000000000008D000340000000007000000E456C300D6A30000030000000000000003000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000D500000000000000DD0000000000000010000000000000003700000000000000100024000000803F000000000000803F4700560031002000200020002000200020002000040000100024000000803F0000803F0000803F4700560033002000200020002000200020002000040000FF01000000000000000300000003000000280000002800000000000000000000001A000000470056003100200020002000200020002000200032002000200020002000200020002000330020002000200020002000200020000500000040000000004002000000810802000081080A00000108120000000300000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
INSERT [dbo].[tbl_GIANGVIEN] ([MaGV], [HoTenGV], [DiaChiGV], [GioiTinh], [Email], [SDT]) VALUES (N'GV1       ', N'a', N'hà nội', N'nữ', N'GV1@yahoo.com', 987654321)
INSERT [dbo].[tbl_GIANGVIEN] ([MaGV], [HoTenGV], [DiaChiGV], [GioiTinh], [Email], [SDT]) VALUES (N'GV2       ', N'b', N'hà nội', N'nam', N'GV2@yahoo.com', 987654321)
INSERT [dbo].[tbl_GIANGVIEN] ([MaGV], [HoTenGV], [DiaChiGV], [GioiTinh], [Email], [SDT]) VALUES (N'GV3       ', N'c', N'hà nội', N'nam', N'GV3@yahoo.com', 987654321)
/****** Object:  Table [dbo].[tbl_NGUOIDUNG]    Script Date: 12/18/2014 03:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NGUOIDUNG](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_014935CB] ON [dbo].[tbl_NGUOIDUNG]([MatKhau]) WITH STATS_STREAM = 0x010000000100000000000000000000006EF4D76D000000001F02000000000000DF01000000000000E703FFFFE7000000640000000000000008D000340000000007000000A080C400D6A3000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000004000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002B000000000000006B00000000000000730000000000000008000000000000003000100000000040000000000000803F04000001002300310032003300340035003600FF0100000000000000020000000100000028000000280000000000000000000000060000003100320033003400350036000200000040000000000206000000000200000000000000
GO
UPDATE STATISTICS [dbo].[tbl_NGUOIDUNG]([PK_tbl_NGUOIDUNG]) WITH STATS_STREAM = 0x01000000010000000000000000000000FE39A9540000000047020000000000000702000000000000E7030000E7000000640000000000000008D000340000000007000000A080C400D6A3000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000E04000000040000000000000E0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004C0000000000000093000000000000009B0000000000000010000000000000003100000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00300010000000803F000000000000803F04000001001B0064006700FF010000000000000002000000020000002800000028000000000000000000000007000000610064006D0069006E006400670003000000400000000081050000000102050000000200000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
INSERT [dbo].[tbl_NGUOIDUNG] ([TaiKhoan], [MatKhau]) VALUES (N'admin', N'123456')
INSERT [dbo].[tbl_NGUOIDUNG] ([TaiKhoan], [MatKhau]) VALUES (N'dg', N'123456')
/****** Object:  Table [dbo].[tbl_NGHANH]    Script Date: 12/18/2014 03:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_NGHANH](
	[MaNghanh] [nchar](10) NOT NULL,
	[TenNghanh] [nvarchar](50) NOT NULL,
	[SoLop] [int] NULL,
	[MaKhoa] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_tbl_Nghanh] PRIMARY KEY CLUSTERED 
(
	[MaNghanh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_21B6055D] ON [dbo].[tbl_NGHANH]([TenNghanh]) WITH STATS_STREAM = 0x010000000100000000000000000000006DA2F0990000000093020000000000005302000000000000E7030000E7000000640000000000000008D0003400000000070000005E5C350005A4000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000D04100000040000000000000D0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007200000000000000DF00000000000000E70000000000000010000000000000004B00000000000000300010000000803F000000000000803F04000001003B0010016900C71E6E0020007400ED1E200076006900C51E6E00200074006800F4006E006700300010000000803F000000000000803F0400000100270054006F00E1006E002000740069006E00FF01000000000000000200000002000000280000002800000000000000000000001A00000010016900C71E6E0020007400ED1E200076006900C51E6E00200074006800F4006E00670054006F00E1006E002000740069006E0003000000400000000081120000000108120000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_21B6055D] ON [dbo].[tbl_NGHANH]([SoLop]) WITH STATS_STREAM = 0x0100000001000000000000000000000005E6A53B00000000CB010000000000008B01000000000000380200003800000004000A00000000000000000000000000070000005E5C350005A4000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F020000000400000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_21B6055D] ON [dbo].[tbl_NGHANH]([MaKhoa]) WITH STATS_STREAM = 0x0100000001000000000000000000000054F3F314000000001702000000000000D701000000000000E7030000E7000000640000000000000008D0003400000000070000005E5C350005A4000002000000000000000200000000000000000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001000000000000041000000400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000270000000000000063000000000000006B0000000000000008000000000000003000100000000040000000000000803F04000001001F004D004B0030003100FF0100000000000000020000000100000028000000280000000000000000000000040000004D004B00300031000200000040000000000204000000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_21B6055D] ON [dbo].[tbl_NGHANH]([DiaChi]) WITH STATS_STREAM = 0x0100000001000000000000000000000015AC75700000000098020000000000005802000000000000E7020000E7000000640000000000000008D0003400000000070000005E5C350005A4000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000F04100000040000000000000F0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007A00000000000000E400000000000000EC0000000000000010000000000000004500000000000000300010000000803F000000000000803F0400000100350050006800F2006E006700200033003000310020006E006800E00020004600300010000000803F000000000000803F0400000100350050006800F2006E006700200033003000320020006E006800E00020004400FF01000000000000000200000002000000280000002800000000000000000000001600000050006800F2006E006700200033003000310020006E006800E00020004600320020006E006800E000200044000400000040000000004008000000810708000001070F0000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_21B6055D] ON [dbo].[tbl_NGHANH]([Email]) WITH STATS_STREAM = 0x0100000001000000000000000000000077B78EA0000000003702000000000000F701000000000000E702850AE7000000640000000000000008D0003480007017070000005E5C350005A4000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001000000000004041000000400000803F00004041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000370000000000000083000000000000008B000000000000000800000000000000300010000000803F000000000000803F04000001002F006400690065006E0040006500640075002E0063006F006D00FF01000000010000000200000002000000280000002800000000000000000000000C0000006400690065006E0040006500640075002E0063006F006D00020000004000000000010C000000000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_21B6055D] ON [dbo].[tbl_NGHANH]([SDT]) WITH STATS_STREAM = 0x010000000100000000000000000000007ABD9CC800000000CB010000000000008B01000000000000380200003800000004000A0000000000000000000000000007000000545C350005A4000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001400000000000040000000400000803F000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F4CCB261A0400000200000000000000
GO
UPDATE STATISTICS [dbo].[tbl_NGHANH]([PK_tbl_Nghanh]) WITH STATS_STREAM = 0x01000000010000000000000000000000655F8ADB000000002B02000000000000EB01000000000000EF030000EF000000140000000000000008D0003400000000070000007407350005A4000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F4D004E0030003100200020002000200020002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000004D004E0030003100200020002000200020002000020000004000000000010A000000000100000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
INSERT [dbo].[tbl_NGHANH] ([MaNghanh], [TenNghanh], [SoLop], [MaKhoa], [DiaChi], [Email], [SDT]) VALUES (N'MN01      ', N'Toán tin', 2, N'MK02', N'Phòng 301 nhà F', N'toantin@edu.com', 438750028)
INSERT [dbo].[tbl_NGHANH] ([MaNghanh], [TenNghanh], [SoLop], [MaKhoa], [DiaChi], [Email], [SDT]) VALUES (N'MN02      ', N'Điện tử viễn thông', 2, N'MK01', N'Phòng 302 nhà D', N'dientvt@edu.com', 438750029)
INSERT [dbo].[tbl_NGHANH] ([MaNghanh], [TenNghanh], [SoLop], [MaKhoa], [DiaChi], [Email], [SDT]) VALUES (N'MN03      ', N'Điện dân dụng', 2, N'MK01', N'Phòng 3023 nhà E', N'diendd@edu.com', 438750029)
/****** Object:  Table [dbo].[tbl_SINHVIEN]    Script Date: 12/18/2014 03:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SINHVIEN](
	[MaSV] [nchar](10) NOT NULL,
	[TenSV] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[SDT] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[MaLop] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_1BFD2C07] ON [dbo].[tbl_SINHVIEN]([TenSV]) WITH STATS_STREAM = 0x01000000010000000000000000000000F2D356E20000000066020000000000002602000000000000E703803FE7000000640000000000000008D000340000000007000000D0F81E0005A40000050000000000000005000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000333333400000A04000000000333333400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000006500000000000000B200000000000000BA00000000000000180000000000000031000000000000004A00000000000000300010000000803F000000000000803F040000010019003200300010000000803F0000803F0000803F0400000100190034003000100000000040000000000000803F04000001001B0064006700FF010000000000000005000000040000002800000028000000000000000000000005000000320033003400640067000500000040000000008101000000810101000081010200000202030000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_1BFD2C07] ON [dbo].[tbl_SINHVIEN]([GioiTinh]) WITH STATS_STREAM = 0x010000000100000000000000000000006A55CB630000000042020000000000000202000000000000E7020000E70000000A0000000000000008D000340000000007000000D0F81E0005A4000005000000000000000500000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000009A9999400000A040000000009A99994000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000048000000000000008E00000000000000960000000000000010000000000000002D000000000000003000100000000040000000000000803F04000001001D006E0061006D003000100000004040000000000000803F04000001001B006E00EF1EFF0100000000000000050000000200000028000000280000000000000000000000040000006E0061006D00EF1E040000004000000000400100000082020100000301030000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_1BFD2C07] ON [dbo].[tbl_SINHVIEN]([SDT]) WITH STATS_STREAM = 0x01000000010000000000000000000000099D0E4A000000000902000000000000C901000000000000380265003800000004000A000000000000000000F07F850A07000000C7F81E0005A40000050000000000000005000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F0000000000000046000000000000001000140000000040000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F040000000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_1BFD2C07] ON [dbo].[tbl_SINHVIEN]([DiaChi]) WITH STATS_STREAM = 0x010000000100000000000000000000005D6ED61E00000000DB010000000000009B01000000000000E7020700E7000000640000000000000008D000340000000007000000C2F81E0005A4000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000A0400000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000500000005000000010000002800000028000000000000000000000000000000010000000000000000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_1BFD2C07] ON [dbo].[tbl_SINHVIEN]([Email]) WITH STATS_STREAM = 0x010000000100000000000000000000005D6ED61E00000000DB010000000000009B01000000000000E7020700E7000000640000000000000008D000340000000007000000C2F81E0005A4000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000A0400000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000500000005000000010000002800000028000000000000000000000000000000010000000000000000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_1BFD2C07] ON [dbo].[tbl_SINHVIEN]([NgaySinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000679A8E4700000000F201000000000000B2010000000000003D0200003D0000000800170300000000000000000500000007000000C2F81E0005A4000005000000000000000500000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000018000000000000410000A040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B000000000000001000180000008040000000000000803F00000000387F0000040000100018000000803F000000000000803F00000000A88F00000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000008_1BFD2C07] ON [dbo].[tbl_SINHVIEN]([MaLop]) WITH STATS_STREAM = 0x0100000001000000000000000000000034E876A900000000BB020000000000007B02000000000000EF030000EF000000140000000000000008D00034000000000700000081CC1E0005A400000500000000000000050000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A0410000A040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D0000000000000007010000000000000F0100000000000018000000000000003F0000000000000066000000000000001000240000000040000000000000803F6100610061006100610061006100610061002000040000100024000000803F000000000000803F43004E00540054003100200020002000200020000400001000240000000040000000000000803F4B00540031002000200020002000200020002000040000FF01000000000000000500000003000000280000002800000000000000000000001E000000610061006100610061006100610061006100200043004E00540054003100200020002000200020004B00540031002000200020002000200020002000040000004000000000820A000000810A0A0000020A140000000500000000000000
GO
UPDATE STATISTICS [dbo].[tbl_SINHVIEN]([PK_tbl_SINHVIEN]) WITH STATS_STREAM = 0x010000000100000000000000000000006376C76B000000001F03000000000000DF02000000000000EF030000EF000000140000000000000008D0003400000000070000006FCC1E0005A40000050000000000000005000000000000000000803FCDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000240000000000A0410000A040000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000BC000000000000006B010000000000007301000000000000200000000000000047000000000000006E000000000000009500000000000000100024000000803F000000000000803F3100300020002000200020002000200020002000040000100024000000803F000000000000803F3100310020002000200020002000200020002000040000100024000000803F0000803F0000803F3300200020002000200020002000200020002000040000100024000000803F000000000000803F3400200020002000200020002000200020002000040000FF0100000000000000050000000500000028000000280000000000000000000000310000003100300020002000200020002000200020002000310020002000200020002000200020002000320020002000200020002000200020002000200033002000200020002000200020002000200020003400200020002000200020002000200020002000070000004000000000C001000000810901000001090A0000810A130000810A1D0000010A270000000500000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV], [GioiTinh], [SDT], [DiaChi], [Email], [NgaySinh], [MaLop]) VALUES (N'10        ', N'dg', N'nữ', 1, N'hà nội', N'duong@yahoo.com', CAST(0x00007F3800000000 AS DateTime), N'aaaaaaaaa ')
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV], [GioiTinh], [SDT], [DiaChi], [Email], [NgaySinh], [MaLop]) VALUES (N'11        ', N'dg', N'nữ', 1, N'hà nam', N'duong@yahoo.com', CAST(0x00007F3800000000 AS DateTime), N'aaaaaaaaa ')
INSERT [dbo].[tbl_SINHVIEN] ([MaSV], [TenSV], [GioiTinh], [SDT], [DiaChi], [Email], [NgaySinh], [MaLop]) VALUES (N'2         ', N'2', N'nam', 2, N'thái bình', N'duong@yahoo.com', CAST(0x00007F3800000000 AS DateTime), N'CNTT1     ')
/****** Object:  Table [dbo].[tbl_MONHOC]    Script Date: 12/18/2014 03:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MONHOC](
	[MaMH] [nchar](10) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[SoTinChi] [int] NULL,
	[SoTiet] [int] NULL,
	[MaGV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tbl_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_239E4DCF] ON [dbo].[tbl_MONHOC]([TenMH]) WITH STATS_STREAM = 0x01000000010000000000000000000000143B2EC6000000009B020000000000005B02000000000000E7030402E7000000640000000000000008D000340800130007000000EAE5360005A4000005000000000000000500000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000009A9999400000A040000000009A9999400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000009000000000000000E700000000000000EF0000000000000020000000000000003B0000000000000056000000000000007100000000000000300010000000803F000000000000803F04000001001B0033003300300010000000803F000000000000803F04000001001B00390039003000100000000040000000000000803F04000001001B0063002500300010000000803F000000000000803F04000001001F006A00610076006100FF01000000000000000500000004000000280000002800000000000000000000000A0000003300330039003900630025006A006100760061000500000040000000008102000000810202000082020400000104060000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_239E4DCF] ON [dbo].[tbl_MONHOC]([SoTinChi]) WITH STATS_STREAM = 0x01000000010000000000000000000000DA94303900000000A4010000000000006401000000000000380200813800000004000A0000000000000000000000000007000000EAE5360005A4000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000A0400000A0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_239E4DCF] ON [dbo].[tbl_MONHOC]([SoTiet]) WITH STATS_STREAM = 0x010000000100000000000000000000001FFB6D3900000000A4010000000000006401000000000000380200813800000004000A0000000000000000000000000007000000DCE5360005A4000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000A0400000A0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_239E4DCF] ON [dbo].[tbl_MONHOC]([MaGV]) WITH STATS_STREAM = 0x01000000010000000000000000000000C6CAD2200000000089020000000000004902000000000000EF030000EF000000140000000000000008D0003400000000070000001CD2360005A40000050000000000000005000000000000000000003FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A0410000A040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000D500000000000000DD0000000000000010000000000000003700000000000000100024000000803F000000000000803F4700560031002000200020002000200020002000040000100024000000004000000040000000404700560033002000200020002000200020002000040000FF01000000000000000500000003000000280000002800000000000000000000001A000000470056003100200020002000200020002000200032002000200020002000200020002000330020002000200020002000200020000500000040000000004002000000810802000082080A00000208120000000500000000000000
GO
UPDATE STATISTICS [dbo].[tbl_MONHOC]([PK_tbl_MONHOC]) WITH STATS_STREAM = 0x0100000001000000000000000000000062BA7ADA000000003C03000000000000FC02000000000000EF030000EF000000140000000000000008D00034010000000700000017D2360005A400000500000000000000050000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000240000000000A0410000A040000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000EB000000000000008801000000000000900100000000000028000000000000004F0000000000000076000000000000009D00000000000000C400000000000000100024000000803F000000000000803F3200320032003300330034003400350035002000040000100024000000803F000000000000803F3300330033003300200020002000200020002000040000100024000000803F000000000000803F3700200020002000200020002000200020002000040000100024000000803F000000000000803F3700370020002000200020002000200020002000040000100024000000803F000000000000803F3900390020002000200020002000200020002000040000FF0100000000000000050000000500000028000000280000000000000000000000280000003200320032003300330034003400350035002000330033003300330020002000200020002000200037002000200020002000200020002000200020003900390020002000200020002000200020002000070000004000000000810A000000810A0A0000C00114000081091500000109140000010A1E0000000500000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
INSERT [dbo].[tbl_MONHOC] ([MaMH], [TenMH], [SoTinChi], [SoTiet], [MaGV]) VALUES (N'222334455 ', N'c%', 4, 60, N'GV2       ')
INSERT [dbo].[tbl_MONHOC] ([MaMH], [TenMH], [SoTinChi], [SoTiet], [MaGV]) VALUES (N'3333      ', N'java', 4, 60, N'GV1       ')
INSERT [dbo].[tbl_MONHOC] ([MaMH], [TenMH], [SoTinChi], [SoTiet], [MaGV]) VALUES (N'7         ', N'33', 3, 45, N'GV3       ')
/****** Object:  Table [dbo].[tbl_DIEM]    Script Date: 12/18/2014 03:40:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DIEM](
	[MaSV] [nchar](10) NOT NULL,
	[MaLop] [nchar](10) NOT NULL,
	[MaMH] [nchar](10) NOT NULL,
	[DiemTP] [int] NOT NULL,
	[DiemThi] [int] NOT NULL,
	[LanThi] [int] NULL,
	[SoTietNghi] [int] NULL,
	[HocKi] [int] NULL
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[tbl_DIEM] WITH ROWCOUNT = 2, PAGECOUNT = 1
GO
CREATE STATISTICS [_WA_Sys_00000002_276EDEB3] ON [dbo].[tbl_DIEM]([MaLop]) WITH STATS_STREAM = 0x0100000001000000000000000000000046C603A7000000002B02000000000000EB01000000000000EF032000EF000000140000000000000008D0003400810A00070000008C85390005A4000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F6100610061006100610061006100610061002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000006100610061006100610061006100610061002000020000004000000000010A000000000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_276EDEB3] ON [dbo].[tbl_DIEM]([MaMH]) WITH STATS_STREAM = 0x010000000100000000000000000000009A902D6F000000002B02000000000000EB01000000000000EF032000EF000000140000000000000008D0003400810A00070000008C85390005A4000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A0410000803F000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F000000000000000800000000000000100024000000803F000000000000803F3200320032003300330034003400350035002000040000FF01000000000000000100000001000000280000002800000000000000000000000A0000003200320032003300330034003400350035002000020000004000000000010A000000000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_276EDEB3] ON [dbo].[tbl_DIEM]([DiemTP]) WITH STATS_STREAM = 0x0100000001000000000000000000000060499B5100000000EA01000000000000AA0100000000000038035F003800000004000A0000000000000000001800C017070000007BC4390005A4000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F07000000040000100014000000803F000000000000803F080000000400000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_276EDEB3] ON [dbo].[tbl_DIEM]([DiemThi]) WITH STATS_STREAM = 0x010000000100000000000000000000003295594900000000EA01000000000000AA0100000000000038035F003800000004000A0000000000000000001800C017070000007BC4390005A4000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F08000000040000100014000000803F000000000000803F090000000400000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_276EDEB3] ON [dbo].[tbl_DIEM]([LanThi]) WITH STATS_STREAM = 0x0100000001000000000000000000000093AF514B00000000CB010000000000008B01000000000000380200003800000004000A00000000000000000000000000070000007BC4390005A4000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F010000000400000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_276EDEB3] ON [dbo].[tbl_DIEM]([SoTietNghi]) WITH STATS_STREAM = 0x01000000010000000000000000000000681834E900000000CB010000000000008B01000000000000380200003800000004000A000000000000000000000000000700000077C4390005A4000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F000000000400000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000008_276EDEB3] ON [dbo].[tbl_DIEM]([HocKi]) WITH STATS_STREAM = 0x010000000100000000000000000000009691BC1E00000000CB010000000000008B01000000000000380200003800000004000A000000000000000000000000000700000072C4390005A4000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F040000000400000200000000000000
GO
INSERT [dbo].[tbl_DIEM] ([MaSV], [MaLop], [MaMH], [DiemTP], [DiemThi], [LanThi], [SoTietNghi], [HocKi]) VALUES (N'10        ', N'aaaaaaaaa ', N'222334455 ', 7, 8, 1, 0, 4)
INSERT [dbo].[tbl_DIEM] ([MaSV], [MaLop], [MaMH], [DiemTP], [DiemThi], [LanThi], [SoTietNghi], [HocKi]) VALUES (N'10        ', N'aaaaaaaaa ', N'3333      ', 8, 9, 1, 0, 4)
/****** Object:  ForeignKey [FK_tbl_SINHVIEN_tbl_LOP]    Script Date: 12/18/2014 03:40:17 ******/
ALTER TABLE [dbo].[tbl_SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SINHVIEN_tbl_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[tbl_LOP] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_SINHVIEN] CHECK CONSTRAINT [FK_tbl_SINHVIEN_tbl_LOP]
GO
/****** Object:  ForeignKey [FK_tbl_MONHOC_tbl_GIAOVIEN]    Script Date: 12/18/2014 03:40:17 ******/
ALTER TABLE [dbo].[tbl_MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_tbl_MONHOC_tbl_GIAOVIEN] FOREIGN KEY([MaGV])
REFERENCES [dbo].[tbl_GIANGVIEN] ([MaGV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_MONHOC] CHECK CONSTRAINT [FK_tbl_MONHOC_tbl_GIAOVIEN]
GO
/****** Object:  ForeignKey [FK_tbl_DIEM_tbl_MONHOC]    Script Date: 12/18/2014 03:40:17 ******/
ALTER TABLE [dbo].[tbl_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DIEM_tbl_MONHOC] FOREIGN KEY([MaMH])
REFERENCES [dbo].[tbl_MONHOC] ([MaMH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DIEM] CHECK CONSTRAINT [FK_tbl_DIEM_tbl_MONHOC]
GO
/****** Object:  ForeignKey [FK_tbl_DIEM_tbl_SINHVIEN]    Script Date: 12/18/2014 03:40:17 ******/
ALTER TABLE [dbo].[tbl_DIEM]  WITH CHECK ADD  CONSTRAINT [FK_tbl_DIEM_tbl_SINHVIEN] FOREIGN KEY([MaSV])
REFERENCES [dbo].[tbl_SINHVIEN] ([MaSV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_DIEM] CHECK CONSTRAINT [FK_tbl_DIEM_tbl_SINHVIEN]
GO
